.layout {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: var(--space-4);
    align-items: center;
}

.icon {
    padding: var(--space-2);
    width: fit-content;
    aspect-ratio: 1/1;
    background-color: var(--color-accent);
}

.heading {
    font-size: var(--font-size-2xl);
    font-weight: 900;
}

.locAndNotifTab {
    margin-left: auto;
    display: flex;
    gap: var(--space-4);
    align-items: center;
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
}

.location {
    display: flex;
    gap: var(--space-1);
    align-items: center;
}