.wrapper {
  padding: 0 var(--space-4);
  border-bottom-width: 1px;
  border-bottom-color: var(--color-border);
  border-radius: 0;
}

.icon {
  opacity: 0.6;
}

.input {
  font-weight: 500;
}

.input::-webkit-search-cancel-button {
  appearance: none;
}
